## Agricultural Crop Yield in Indian States Dataset

### **About Dataset**

This dataset encompasses agricultural data for multiple crops cultivated across various states in India from the year 1997 till 2020. The dataset provides crucial features related to crop yield prediction, including crop types, crop years, cropping seasons, states, areas under cultivation, production quantities, annual rainfall, fertilizer usage, pesticide usage, and calculated yields.

### **Columns Description**

- **Crop**: The name of the crop cultivated.
- **Crop_Year**: The year in which the crop was grown.
- **Season**: The specific cropping season (e.g., Kharif, Rabi, Whole Year).
- **State**: The Indian state where the crop was cultivated.
- **Area**: The total land area (in hectares) under cultivation for the specific crop.
- **Production**: The quantity of crop production (in metric tons).
- **Annual_Rainfall**: The annual rainfall received in the crop-growing region (in mm).
- **Fertilizer**: The total amount of fertilizer used for the crop (in kilograms).
- **Pesticide**: The total amount of pesticide used for the crop (in kilograms).
- **Yield**: The calculated crop yield (production per unit area).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r'../data/crop_yield.csv')
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.5+ MB

In [11]:
len(data.State.unique())

30

In [ ]:
plt.hist()